
@media screen and (min-width: 780px){
    .kasa-about-layout{
        height: 100vh;
    }
    .kasa-about-dropdown-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto auto auto;
    }
}