.kasa-about-layout{
    height: 100vh;
}


@media screen and (min-width: 768px){
    
    .kasa-about-dropdown-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto auto auto;
    }
}