.kasa-footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 209px;
    background-color: black;
    margin: 2rem -1.2rem 0;
}
.kasa-footer-logo path {
    fill:  white;
}
.kasa-footer-logo{
    height : 39.44px;
    width: 122px;
}

.kasa-footer-container p{
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

@media screen and (min-width: 780px){
    .kasa-footer-container{
        margin: 2rem -4rem 0;
    }
  
  }

  @media screen and (min-width: 780px){
    .kasa-footer-container{
        margin: 2rem -6.25rem 0;
    }
  }