.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.kasa-logo{
    color : red

}

.kasa-nav{
   list-style-type: none;
   width:100%;
   display: flex;
   justify-content: space-between;

}