.header{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    align-items: center;
}

.kasa-logo{
    display: flex;
    color : red

}

.kasa-nav{
   display: flex;
   width: 100%;
}
.kasa-nav__link{
    list-style-type: none;
    width:100%;
    display: flex;
    justify-content: flex-end;
    color: #ff6060;
    
 }
 .kasa-mg-r3{
     margin-right:3rem;
 }

 .kasa-red{
    color: #ff6060;
 }

 a{
     text-decoration: none;
 }

 a.current{
     text-decoration: underline;
     color: #ff6060
 }