@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.Layout{
    /*width: 100%;*/
    position: relative;
    margin: 1.2rem 1.2rem 0 1.2rem;
    height: 100vh;
}

@media screen and (min-width: 780px){
    .Layout{
      margin:1.2rem 4rem 0 4rem;
    }
  
  }

  @media screen and (min-width: 1000px){
    .Layout{
        margin:1.2rem 6.25rem 0 6.25rem;
      }
  
  }