.color-primary{
    color:#ff6060;
}

.lgt-title-size{
  font-size: 1.125rem;
  font-weight: 500;  
  margin-bottom: 5px;
}

.lgt-location-size{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 10px;  
  }

.kasa-host-rating-container{
  display :flex;
  justify-content: space-between;
  width : 100%;
}

.mr-top-1r{
  margin-top: 1rem;
}


@media screen and (min-width: 768px){

  .kasa-logement-header{
    display: flex;
    justify-content: space-between;
  }

  .kasa-logement-info{
    flex: 2;
  }

  .kasa-host-rating-container{
    display :flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    width : 100%;
  }

  .kasa-dropdown-container{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px){
  .kasa-logement-layout{
      height: 100vh;
  }
}