.kasa-tag-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%

}


.kasa-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    border-radius: 5px;
    height : 18px;
    background-color: #FF6060;
    color: white;
    font-size: .62rem;
}

.kasa-tag-mr:not(:nth-child(1)){
    margin-left: .62rem;

}